<div id="<%= dom_id person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= person.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= person.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= person.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= person.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= person.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= person.date_of_birth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= person.address_id %>
  </p>

</div>
