<div id="<%= dom_id group %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= group.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= group.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= group.created_by_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Step:</strong>
    <%= group.step_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Event:</strong>
    <%= group.event_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is private:</strong>
    <%= group.is_private %>
  </p>

</div>
