<div id="<%= dom_id subscription %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= subscription.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stripe customer:</strong>
    <%= subscription.stripe_customer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stripe subscription:</strong>
    <%= subscription.stripe_subscription_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= subscription.status %>
  </p>

</div>
