<div id="<%= dom_id cotfc_group %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Host:</strong>
    <%= cotfc_group.host %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= cotfc_group.subject %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Day:</strong>
    <%= cotfc_group.day %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= cotfc_group.time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= cotfc_group.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Child friendly:</strong>
    <%= cotfc_group.child_friendly %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= cotfc_group.intended_audience %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Form url:</strong>
    <%= cotfc_group.form_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Photo url:</strong>
    <%= cotfc_group.photo_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cotfc_group.description %>
  </p>

</div>
