<div id="<%= dom_id organization_person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= organization_person.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= organization_person.organization_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= organization_person.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= organization_person.type %>
  </p>

</div>
