<div id="<%= dom_id step %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= step.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= step.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= step.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Path:</strong>
    <%= step.path_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resources:</strong>
    <%= step.resources %>
  </p>

</div>
