<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Address line 1:</strong>
    <%= address.address_line_1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address line 2:</strong>
    <%= address.address_line_2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address line 3:</strong>
    <%= address.address_line_3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City or town:</strong>
    <%= address.city_or_town %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= address.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= address.country %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Region:</strong>
    <%= address.region %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= address.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= address.longitude %>
  </p>

</div>
